RewriteEngine On
RewriteBase /project-web2

# Rule cho URL trống phải được ưu tiên
RewriteCond %{REQUEST_URI} !^/index\.php$
RewriteRule ^$ index.php?pages=home [QSA,L]

RewriteCond %{REQUEST_URI} !^/index\.php$
RewriteRule ^(home|about|receipt|login|register|advance|croissant|mousse|drink|product|pay)$ index.php?pages=$1 [QSA,L]