.Home{
    border: 1px solid black;
    border-radius: 10px;
    height: 100%;
    background: #fff;
}

.text-big {
    display: flex;
    font-size: 30px;
    justify-content: center;
    height: 75px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-bottom: 4px solid #4E499E;
    border-radius: 3px;
    margin: 30px;
}

/* Responsive Design */
@media screen and (min-width: 1390px) and (min-width: 1281px) {
    /* .text-head{
        font-size: 16px;
    }

    .text-head ion-icon{
        font-size: 16px;
        margin-right: 5px;
    } */
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {

    input[type="date"]{
        text-align: center;
        
    }

    .text-head{
        font-size: 13.5px;
    }

    .text-head ion-icon{
        display: none;
    }

    .text-in{
        font-size: 14px;
    }

    .text-in ion-icon{
        display: none;
    }


}

/* Tablet */
@media screen and (max-width: 1024px)  and (min-width: 861px){
    .grid-full {
        grid-template-columns: repeat(1, 1fr);
        transition: transform .5s ease;
    }


    .text-head{
        font-size: 13.5px;
    }

    .text-head ion-icon{
        display: none;
    }

    .text-in{
        font-size: 14px;
    }

    .text-in ion-icon{
        display: none;
    }

    .grid-full {
        grid-template-columns: repeat(1, 1fr);
        transition: transform .5s ease;
    }
    .right-screen {
        display: none;
        transition: opacity .5s ease;
    }
}


@media screen and (max-width: 860px) {
    .grid-full {
        grid-template-columns: repeat(1, 1fr);
        transition: transform .5s ease;
    }
    .right-screen {
        display: none;
        transition: opacity .5s ease;
    }
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 640px) {
    .header {
        padding: 10px;
    }
    
    .text-heading h1 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .text-heading h1{
        font-size: 18px;
    }

    .btnLogin-popup{
        width: 60px;
        height: 30px;
        background: transparent;
        border: 1px solid #1f1c1c;
        outline-width: 2px;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 0.8em;
        color: #000000;
        font-weight: 500;
        margin-left: 23px;
        transition: .5s;
    }

    .btnLogout-popup{
        width: 60px;
        height: 30px;
        background: transparent;
        border: 1px solid #1f1c1c;
        outline-width: 2px;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 0.8em;
        color: #000000;
        font-weight: 500;
        margin-left: 23px;
        transition: .5s;
    }

    table{
        width: 82% !important;
        /* margin: 20px 30px; */
        margin-right: auto !important; 
        margin-left: auto !important;
        border-collapse: collapse;
        text-align: center;
        border: 1px solid #d5d5d5;
        font-size: 8px;
    }

    .subtitle_table label{
        font-size: 10px !important;

    }
    .btn_filter button{
        font-size: 7px !important;
        padding:6px 9px !important;
    }
    input[type="date"]{
        font-size: 7px;
        margin-left: 4px;
        padding: 6px 7px;
    }
    select{
        padding: 6px 7px !important;
        font-size: 8px;
    }

}

@media (max-width: 320px) {
    
}

/* TABLE */
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td{
    border: 1px solid black; 
    padding: 8px;
    text-align: left;
}
th{
    background-color: f2f2f2;
}

thead{
    background-color: #F6B1CE;
    
}

.title-table{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Class cho đơn hàng hủy */
.canceled{
    color: red;
    font-weight: 550;
}

.delivered{
    color: #21885a;
    font-weight: 550;
}

.confirmed{
    color: #21D375;
    font-weight: 550;
}

.loading{
    color: #e6941a;
    font-weight: 550;
}
.filter-date{
    display: flex;
    align-items: center;
}
.status-filter{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.subtitle_table{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subtitle_table label{
    font-size: 16px;
    font-weight: 600;
    color: #455265;
    text-align: center;
    
    
}
table {
    width: 95%;
    margin: 20px 30px;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #d5d5d5;

}
th {
    font-weight: bold;
    background-color: #EF99B4;
    padding: 10px;
    text-align: left;
    border: 0.5px solid #845c5c;
    text-align: center;
    color: #455265;
}
td {
    /* margin-left: 30px; */
    border: 1px solid #d5d5d5;
    color: #455265;
    padding: 12px;
}
.btn_filter{
    display: grid;
    justify-items: center;
}

.btn_filter button{
    border-radius: 4px;
    background-color: #28a745;
    border: none;
    padding: 7px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #ffffff;
}

.btn_filter button:hover{
    background-color: #1f7f36;
}

input[type="date"]{
    margin-left: 5px;
    text-align: center;
    padding: 6px 10px;
    border-radius: 8px;
    border: none;
    background: #f0f0f0;
    margin-right: 20px;

}

.btn_date{
    display: flex;
    justify-content: center;
}

select{
    margin-left: 5px;
    
    padding: 6px 10px;
    border-radius: 8px;
    border: none;
    background: #f0f0f0;
    margin-right: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 999;
}

.ShowDetail {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

.scroll-see{
    max-width: 800px;
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ShowDetail h2 {
    margin-top: 0;
    color: #F6B1CE; /* Green */
    text-align: center;
}

.form-horizontal {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    flex: 1 1 45%;
    margin: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
}

.form-buttons .save-btn{
    background: #28A745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.form-buttons .save-btn:hover{
    background: #218838;
}

.form-buttons .close-btn {
    background: #f44336; /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.form-buttons .close-btn:hover {
    background: #d32f2f; /* Darker red */
}


.edit-btn{
    display: flex;
    justify-content: center;
}

.edit-btn button{
    display: flex;
    position: relative;
    width: 30px;
    height: 30px;
    
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 5px;
}

.edit-btn button:hover{
    background: #fbd5e5;
    color: white;
    border-radius: 5px;
}

.id_order{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

select#order_status{
    border-color: rgb(94, 190, 237);
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #F7B9D7;
    border-radius: 10px;
}