/* detail order */
.detail{
    display: flex;
    justify-content: center;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-group input{
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}
.table-detail{
    border-collapse:collapse ;
    width: 100%;
    margin-bottom: 70px;
}
/* Home */
.table-customer {
    width: 95%;
    margin-left: 30px;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
}

.table-customer td {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.403);
}

.table-customer th {
    font-weight: bold;
    background-color: #EF99B4;
    padding: 10px;
    text-align: left;
    border: 0.5px solid #845c5c;
    text-align: center;
    color: #455265;
}

.main-title {
    font-size: 22px;
    margin-left: 30px;
    margin-top: 40px;
    font-weight: bold;
    color: #455265;
}

.filter {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* padding-top: 35px; */
    align-items: center;
}

.filter p {
    font-size: 16px;
    font-weight: 600;
    color: #455265;
}
.time, .from, .to {
    display: flex;
    align-items: center;
    gap: 5px;
}
.filter input{
    padding: 5px 10px;
    border-radius: 8px;
    border: solid 1px #000000;
    background: #f0f0f0;
}
.div {
    display: flex;
    justify-content: flex-start;
}


.sta-btn {
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sta-btn:hover {
    background-color: #1f7f36;
}

.sta-btn a {
    color: #fff;
}
.filter .from,.filter .to{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
/* button function */
.js-function-detail{
    cursor: pointer;
    border: 2px solid #3f546f;
   padding: 3px 6px;
   /* text-align: center; */
   background: none;
   border-radius: 5px;
}
.js-function-detail:hover{
    background: rgba(0, 0, 0, 0.1);
}
/* receipt */
.div-receipt {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
}

.div-receipt .receipt {
    width: 657px; /* Sửa độ rộng (không có khoảng trắng) */
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: auto; 
    max-height: 90vh; 
}
.div-receipt .receipt::-webkit-scrollbar {
    width: 10px;
}

.div-receipt .receipt::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.div-receipt .receipt::-webkit-scrollbar-thumb {
    background: #e4b95b;
    border-radius: 10px;
}
.title-receipt {
    text-align: center;
    color: #030303;
    font-size: 25px;
    font-weight: 800;
}
th {
    font-weight: bold;
    background-color: #EF99B4;
    padding: 10px;
    text-align: left;
    border: 0.5px solid #845c5c;
    text-align: center;
    color: #455265;
}
td {
    border: 0.5px solid rgba(0, 0, 0, 0.403);
    padding: 12px;
    text-align: center;
}
.flex {
    display: flex;
    justify-content: space-between;
}

.receipt-id, .receipt-date {
    display: flex;
    gap: 10px;
}

.table-receipt {
    width: 100%;
    border-collapse: collapse; /* Thay đổi để đường viền dính sát nhau */
    margin-top: 15px;
}

.table-receipt th, 
.table-receipt td {
    border: 1px solid #d5d5d5;
    color: #455265;
    padding: 12px;
    text-align: center;
}

.table-receipt thead {
    background-color: #f8bcc9;
    color: #455265;
    font-weight: 600;
}

.paragraph {
    color: #455265;
    font-weight: 600;
    padding-bottom: 10px;
}
.close-btn{
    display: flex;
    justify-content: center;
}
.close-btn button{
    padding: 5px 15px;
    background-color: rgb(255, 71, 71);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}
.close-btn button:hover{
    background: rgb(196, 7, 7);
    cursor: pointer;
}
.div-receipt.open{
    display: flex;
}

.Home{
    border: 1px solid black;
    border-radius: 10px;
    height: 100%;
    background: #fff;
    padding-bottom: 30px;
    
}

.text-big {
    display: flex;
    font-size: 30px;
    justify-content: center;
    height: 75px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-bottom: 4px solid #4E499E;
    border-radius: 3px;
    margin: 30px;
}

/* Responsive Design */
@media  (max-width: 1390px) and (min-width: 1281px){
    .text-head{
        font-size: 16px;
    }

    .text-head ion-icon{
        font-size: 16px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1025px){
    .text-head{
        font-size: 13.5px;
    }

    .text-head ion-icon{
        display: none;
    }

    .text-in{
        font-size: 14px;
    }

    .text-in ion-icon{
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .grid-full {
        grid-template-columns: repeat(1, 1fr);
        transition: transform .5s ease;
    }
    .right-screen {
        display: none;
        transition: opacity .5s ease;
    }

    .text-head{
        font-size: 13.5px;
    }

    .text-head ion-icon{
        display: none;
    }

    .text-in{
        font-size: 14px;
    }

    .text-in ion-icon{
        display: none;
    }
}

/* Tablet */
@media screen and (max-width: 1490px) {
    .text{
        font-size: 14px;
    }
}


@media screen and (max-width: 1340px) {
    .text{
        font-size: 12px;
    }
    .table-customer .title{
        font-size: 14px;
    }
}

@media screen and (max-width: 960px) {
    .filter p{
        font-size: 14px;
    }
    .filter input{
        padding: 2px 0px;
    }
    
}

@media screen and (max-width: 640px) {
    .header{
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .text-heading h1{
        font-size: 18px;
    }

    .btnLogin-popup{
        width: 60px;
        height: 30px;
        background: transparent;
        border: 1px solid #1f1c1c;
        outline-width: 2px;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 0.8em;
        color: #000000;
        font-weight: 500;
        margin-left: 23px;
        transition: .5s;
    }

    .btnLogout-popup{
        width: 60px;
        height: 30px;
        background: transparent;
        border: 1px solid #1f1c1c;
        outline-width: 2px;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 0.8em;
        color: #000000;
        font-weight: 500;
        margin-left: 23px;
        transition: .5s;
    }
    table {
        width:95% !important;
        /* margin: 20px 30px; */
        margin-right: auto !important;
        margin-left: auto !important;
        border-collapse: collapse;
        text-align: center;
        border: 1px solid #d5d5d5;
        font-size: 8px;
    }
    .filter p{
        font-size: 10px;
    }
    
    input[type="text"]{
        font-size: 7px;
        margin-left: 4px;
        padding: 6px 7px;
    }
    select{
        padding: 6px 7px !important;
        font-size: 8px;
    }
    .sta-btn {
        padding: 4px 12px;
    }
    .sta-btn a {
        font-size: 9px;
    }
    .js-function-detail{
        font-size: 10px;
    }
    .div-receipt .receipt{
        width: 343px;
        overflow: hidden;

    }
    .paragraph{
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    
}
