/* Style the input */
.search-container {
    position: relative;
    display: inline-block;
    margin-left: 300px;
}

.input-wrapper {
    position: relative;
    display: none;
    align-items: center;
}

.input-wrapper input {
    padding: 8px 68px 8px 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    width: 310px;
    background-color: white;
    transition: all 0.2s ease;
}

.input-wrapper input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.1);
}

.search-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.searchAdvance{
    display: flex !important;
    width: 140px;
    height: 30px;
    background: transparent;
    border: 1px solid #1f1c1d7d;
    outline-width: 2px;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 10px !important;
    color: #000000;
    /* font-weight: 500; */
    margin-left: 15px;
    transition: .5s;
    justify-content: center;
    align-items: center;
}

.search-icon button {
    width: 68px;
    height: 42px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    background: #e1dfdf;
    border-radius: 20px;
    margin-right: -8px;
    transition: color 0.2s ease;
}

.search-icon button:hover {
    color: #4a90e2;
}

.search-icon ion-icon {
    font-size: 20px;
}

/* Optional: Style the placeholder text */
.input-wrapper input::placeholder {
    color: #999;
}

/* Optional: Style for when the input is disabled */
.input-wrapper input:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
}


/* login button */
.btnLogin-popup {
    width: 90px;
    height: 30px;
    background: transparent;
    border: 1px solid #1f1c1c;
    outline-width: 2px;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    color: #000000;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.btnLogin-popup:hover {
    background: #cadbfb;
    color: #162938;
}

.btnLogout-popup {
    width: 90px;
    height: 30px;
    background: transparent;
    border: 1px solid #1f1c1c;
    outline-width: 2px;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    color: #000000;
    font-weight: 500;
    margin-left: 10px;
    transition: .5s;
}

.btnLogout-popup:hover {
    background: #cadbfb;
    color: #162938;
}

/* định dạng */
.wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%) scale(1);
    width: 1200px;
    height: 850px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden;
    transition: transform .5s ease, height .2s ease; */
}


.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

/*
.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-900px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(900px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
} */

.form-box.login,
.form-box.register {
    /* Chỉ định style chung, không cần transform */
    position: relative; /* tuỳ ý */
}

.input-infor{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 20px;
    margin-bottom: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the spinner controls in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

/* Style cho select giống input */
.input-box select,
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 10px;
    appearance: none; /* Loại bỏ giao diện mặc định của select */
    cursor: pointer;
}

.input-box input.has-content ~ label {
    top: -10px;
    font-size: 0.9em;
    color: #0d6efd;
}

/* Style cho label */
.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: 0.3s;
}

/* Di chuyển label khi có nội dung hoặc focus */
.input-box input:focus ~ label,
.input-box input:valid ~ label,
.input-box select:focus ~ label,
.input-box select:has(option:checked:not(:first-child)) ~ label {
    top: -10px;
    font-size: 0.9em;
    color: #0d6efd; /* Màu xanh dương khi focus */
}


.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
    /* z-index: 9; */
}


.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a :hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 150px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/*Main*/
.Home_main {
    flex: 1 0 auto;
    position: relative;
    min-height: 70vh;
    padding: 0px 0px;
    overflow: hidden;
}

/* Responsive Design */
@media screen and (min-width: 1390px){
    .header{
        padding: 0 100px;
    }


    .Footer_footer_contain{
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        margin: 0px auto;
        transition: width 0.5s ease, height 0.5s ease; 
    }
}

@media screen and (max-width: 1280px){
    .header{
        padding: 0px 59px;
        will-change: padding;
    }

    .wrapper{
        font-size: 17.5px;
        width: 1200px;
        height: auto;
        transition: width 0.5s ease, height 0.5s ease-in-out; 
    }

    .wrapper .form-box.register{
        padding: 20px;
    }

    .wrapper .form-box.register .input-infor{
        font-size: 15px;
    }

    .Footer_footer_contain{
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        margin: 0px auto;
        transition: width 0.5s ease, height 0.5s ease; 
    }
}

/* Tablet */
@media screen and (max-width: 1024px) {
    .header{
        height: 165px;
        font-size: 15px;
        padding: 0px 35px;
        transition: width 0.5s ease-in-out;
    }

    .navigation a {
        padding: 0px 11px;
    }

    .wrapper{
        font-size: 17.5px;
        width: 870px;
        height: auto;
        transition: width 0.5s ease, height 0.5s ease-in-out; 
    }

    .wrapper .form-box.register{
        padding: 20px;
    }

    .wrapper .form-box.register .input-infor{
        font-size: 15px;
    }

    .search-container{
        margin-left: 25px;
    }

    .input-wrapper input{
        width: 215px;
    }

    .search-icon button {
        width: 55px;
    }

    /*Footer*/
    .Footer_footer_contain {
        /* width: 750px; */
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        margin: 0px auto;
        transition: width 0.5s ease, height 0.5s ease; 
    }

}


@media screen and (max-width: 860px) {
    .header {
        padding: 0 20px;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100vw;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
        padding: 0px 120px;
        height: 150px;
        transition: transform 0.3s ease-in-out;
    }

    .wrapper{
        font-size: 17.5px;
        width: 750px;
        height: auto;
        transition: width 0.5s ease, height 0.5s ease-in-out; 
    }

    .wrapper .form-box.register{
        padding: 20px;
    }

    .wrapper .form-box.register .input-infor{
        font-size: 15px;
    }

    /* Hide the navigation by default on screens <= 1000px */
    .navigation {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        flex-direction: column;
        padding: 20px 0;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    /* Show the navigation when it has the 'active' class */
    .navigation.active {
        display: flex;
    }

    /* Adjust styles for navigation items in responsive mode */
    .navigation a {
        padding: 10px 20px;
        width: 100%;
        text-align: left;
    }

    /* Show the hamburger menu */
    .hamburger {
        display: flex;
        justify-content: space-around;
        margin-left: auto;
    }

    .logo img {
        width: 150px;
        height: auto;
        margin-right: auto;
    }

    .Footer_footer_contain {
        /* width: 700px; */
        grid-template-columns: repeat(4, 1fr);
        margin: 0px auto;
    }
}

@media screen and (max-width: 768px) {
    .wrapper{
        font-size: 17.5px;
        width: 620px;
        height: auto;
        transition: width 0.5s ease, height 0.5s ease-in-out; 
    }

    .wrapper .form-box.register{
        padding: 20px;
    }

    .wrapper .form-box.register .input-infor{
        font-size: 15px;
    }
    
    .Footer_footer_contain {
        /* width: 650px; */
        grid-template-columns: repeat(4, 1fr);
        margin: 0px auto;
    }
}

@media screen and (max-width: 640px) {
    .header{
        padding: 0px 50px;
    }

    .wrapper{
        font-size: 12.5px;
        width: 500px;
        height: auto;
        transition: width 0.5s ease, height 0.5s ease-in-out; 
    }

    .wrapper .form-box.register{
        padding: 20px;
    }

    .wrapper .form-box.register .input-infor{
        font-size: 12.5px;
    }
    
    .Footer_footer_contain {
        width: 500px;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px auto;
    }

    .copy-right p{
        font-size: 11px;
        text-align: justify;
        text-justify: inter-word;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .header {
        flex-direction: column;
        padding: 10px;
    }

    .navigation {
        flex-direction: column;
    }

    .navigation a {
        margin: 5px 0;
    }

    .Home_main{
        min-height: 50vh;
    }

    .wrapper{
        transform: translate(-50%, 0%) scale(1);
        font-size: 12.5px;
        width: 350px;
        height: auto;
        transition: width 0.5s ease, height 0.5s ease-in-out; 
    }

    .wrapper .form-box.register{
        padding: 15px;
    }

    .wrapper .form-box.register .input-infor{
        font-size: 12px;
        display: grid;
        gap: 0px;
        grid-template-columns: repeat(1,auto);
    }

    .wrapper .form-box.register .input-infor .input-box{
        margin: 6px 0;
    }

    .input-box input:focus~label,
    .input-box input:valid~label {
        top: 8px;
    }

    .wrapper .input-infor{
        max-height: 300px;
        overflow-y: auto;
    }


    .remember-forgot{
        margin-top: 20px;
    }
    

    .Home_main {
        padding-top: 10px;
    }

    .nav-links {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0 0 0 -163px;
    }
        
    .nav-links a {
        text-decoration: none;
        color: #4a5568;
        font-size: 15px;
        font-weight: 500;
    }

    .footer {
        padding: 20px;
    }

    .Footer_footer_contain {
        width: 310px;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        margin: 0px auto;
    }

    .Footer_connect_icon {
        display: flex;
        gap: 15px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .footer_logo img{
        width: 150px;
        margin-left: 0px !important;
    }

    .copy-right p{
        font-size: 7px;
        text-align: justify;
        text-justify: inter-word;
    }
}

@media (max-width: 360px) {
    .search-input .search-icon button{
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin-top: -230px;
        margin-right: 2px;
    }

    .Footer_footer_contain {
        width: 290px;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        margin: 0px auto;
    }

    h3.Footer_footer_title {
        font-size: 17px;
    }

    .Foot_footer_list {
        font-size: 14px;
    }

    .Footer_connect_icon {
        display: flex;
        gap: 15px;
        margin-top: 20px;
        margin-left: 10px;
    }

    .footer_logo img{
        width: 130px;
        margin-left: 0px !important;
    }

    .copy-right p{
        font-size: 6px;
        text-align: justify;
        text-justify: inter-word;
    }
}


::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #F7B9D7;
    border-radius: 10px;
}